@import url("https://fonts.googleapis.com/css2?family=Square+Peg&display=swap");

.App {
  font-family: "Square Peg", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: cornflowerblue;
}

.heading{
  font-size: 40px;
  text-transform: capitalize;
  font-weight: bold;
  z-index: 1;
  text-align: center;
  margin: 30px 0px;
}